$font1: "Helvetica Neue";
$font2: "La Belle Aurore";
$font3: "Coolvetica";

$primary-color : #ffd700;
$grey : #444;
$bg-color1 : #022c43;
$bg-color2 : #181818;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;